*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #dde1e6;
}

.topbar {
    font-size: 12px;
    color: #fff;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #1a4e87;
    font-weight: 600;
    padding: 0.5em;
}

.topbar a{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

.topbar a:hover{
    color: #c7ccd1;
    transition: 0.4s;
}

.topbar-img img{
    height: 40px;
}

.nav{
    background-color: #01437b;
    padding: 1em;
}

.nav > .list {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    /* display: block; */
}

.nav > .list > .nav-link {
    list-style-type: none;
}
.nav > .list > .nav-link a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
    font-size: 16px;
}

.nav > .list > .nav-link a:hover{
    color: #ffa600;
    transition: 0.2s;
    
}

.header-wrapper{
    display: flex;
    height: 250px;
    background-color: #1a4e87;
    justify-content: space-around;
    align-items: baseline;
}

main{
    background: linear-gradient(-135deg,#026fba,#01437b);
    padding: 2em;
    /* width: fit-content; */
}

.main-wrapper{
    display: flex;
    justify-content: space-around;
}

.main-title{
    display: flex;
    justify-content: space-between;
}

.main-title div{
    margin: 0 1em;
}

.main-logo img {
    height: 120px;
}

.main-title-text h1 {color: #fff;}
.main-title-text h3 {color: #fff;}
.main-title-text h4 {
    color: #fff;
    width: 300px;
}

.main-contacts{
    padding: 1em;
    border-radius: 10px;
    background-color: #fff;
    background-color: #01437B;
    height: fit-content;
    width: fit-content;
}

.main-contacts h2 {
    color: #fff;
    text-align: center;
    background-color: #276cc3;
    border-radius: 10px;
    width: fit-content;
    margin: 0.5em auto;
    padding: 0 1em;
    font-weight: 400;
}

.links {
    color: #fff;
    font-size: 18px;
    margin: 0 1em;
    transition: 0.3s;
}

.links:hover{
    opacity: 0.8;
}

#studying{
    color: #ffcc24;
    font-weight: bold;
}

.main-reception{
    color: #fff;
    display: flex;
    /* padding: 1em; */
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

.main-reception > div{
    margin: 1em 0;
    font-size: 18px;
    padding: 0.5em;
}

/* About */

/* О Нас */

.about-section{
    background-color: #dde1e6;
    padding: 1em;
}

.about-section h2{
    text-transform: uppercase;
    font-size: 25px;
}

.about-text p{
    font-size: 16px;
    text-transform: uppercase;
    width: 50%;
}

.about-text p a{
    color: orangered;
    font-weight: bold;
    border-bottom: 2px solid orangered;
    /* text-decoration: underline; */
}

.study-main{
    background-color: #fff;
}

.card-container{
    width: 320px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in;
    color: #023665;
    margin: 3em 0;
    /* margin: 0 auto; */
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    /* transition: 0.4s; */
}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

.image-container img{
    overflow: hidden;
    height: 300px;
}

.card-title{
    margin: 1rem 0;
}

.btn{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    align-content: flex-end;
}

.btn button{
    padding: 0.5rem;
    background-color: #01437b;
    border: 1px solid black;
    border-radius: 4px;
    transition: 0.5s;
    margin-bottom: 0.5rem;
    align-content: flex-end; 
    align-items: flex-end;
}

.btn button:hover{
    background-color: #ff5724;
}

.btn button a{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.btn button a:hover{
    color: #fff;
    cursor: pointer;
}


.programs{
    padding: 1em;
    border-bottom: 15px solid #01437b;
}

.programs-header{
    background-color: yellow;
}

.cascader{
    display: flex;
    justify-content: space-around;
}

.cascader button{
    font-size: 18px;
    background-color: #ff5724;
    color: #fff;
    font-weight: bold;
    padding: 0.5em 2em;
    border-radius: 15px;
    margin: 0 1em;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.cascader button:hover{
    background-color: rgba(0, 80, 171, 0.96);
}
/* End of cascader buttons */

.programs-cards{
    display: grid;
    grid-template-columns: repeat(4, auto );
    justify-content: center;
}

.programs-cards > div{
    margin: 4em 2em;
}

/* Галерея */
.container{
    padding: 1em;
    background-color: rgba(0, 80, 171, 0.96);
}

.slider{
    width: 768px;
    height: 576px;
    /* border: 2px solid black; */
    margin: 0 auto;
    overflow: hidden;
}

.slider > h2{
    display: flex;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    margin: 0.5em auto;
    letter-spacing: 5px;
}

.slider-line{
    height: 384px;
    width: 2048px;
    /* background-color: olivedrab; */
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em auto;
}

.slider-button > button {
    outline: none;
    border: none;
    background-color: white;
    color: black;
    /* padding: 1em; */
    transition: 0.5s;
    text-transform: uppercase;
    padding: 1em 2em;
    border-radius: 20px;
}

.slider-button > button:hover{
    background-color: #276cc3;
    transition: 0.5s;   
    color: #fff;
}

.documents{
    background: linear-gradient(-135deg,#026fba,#01437b);
}

.documents-header h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 4px solid #ff5724;
    width: fit-content;
    margin: 0 auto;
}

.license{
    padding: 2em 1em;
}

.sertificate{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-sertificate{
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.contacts{
    background-color: #fff;
    color: #023665;
    padding: 2em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.communication > div{
    margin: 20% 0;
    border-bottom: 4px solid  rgb(255, 239, 9);
}

.map h2{
    text-align: center;
}

.footer{
    background-color: #01437B;
    padding: 3em 7em;
    font-size: 14px;
    height: 100%;
    max-height: 40%;
    color:#fff;
    display: flex;
    justify-content: space-between;
}

.footer-info > div {
    margin-bottom: 1em;
}

.footer-phone > div{
    font-size: 17px;
    color: #b1c6d7;
}

.footer-info h2{color: #fff;}
.footer-phone h2{color: #fff;}
.footer-nav h2 {color:#fff;}
.footer-links h2 {color: #fff;}


.footer-list{
    list-style-type: none;
}

.footer-link{
    margin: 1em 0;
}

.footer-link a{
    text-decoration: none;
    color: #b1c6d7;
    font-size: 16px;
    transition: 0.5s;
}
.footer-link a:hover{
    color: #fff;
}

.footer-link{
    list-style-type: none;
}
.link{
    margin: 1em 0;
}

.links a{
    margin: 1em 0;
    text-decoration: none;
    color: #b1c6d7;
    font-size: 16px;
    transition: 0.5s;
}

.login{
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(142, 185, 250) 0%, rgba(255, 255, 255) 100%);
}

.login-container {
    background-color: #01437b;
    text-transform: uppercase;
    width: 350px;
    border-radius: 8px;
    /* border: 3px solid #fff; */
    padding: 2em;
    /* height: 450px; */
    margin: 10% auto;
}

.login-container h2 {
    color: #fff;
    text-align: center;

    /* border-bottom: 5px solid #ff5724; */
}

.login-form{
    margin-top: 2em;
}

.login-form input{
    padding: 0.5em;
    width: 100%;
    outline: none;
    font-size: 17px;
}


.form {
    margin-top: 1em;
    border-bottom: 5px solid #ff5724;
}

.form p {color: #fff; font-weight: bold;}

.remember-me{
    margin-top: 2em;
    display: flex;
    align-items: center;
    text-transform: none;
    color: #fff;
    font-weight: bold;
}

.button-form{
    text-align: center;
    margin-top: 3em;
}

.button-form button{
    background-color: white;
    border: 1px solid black;
    padding: 0.5em 1em;
    font-size: 16px;
    border-bottom: 4px solid #ff5724; 
}
