*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #dde1e6;
}

.topbar {
    font-size: 12px;
    color: #fff;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #1a4e87;
    font-weight: 600;
    padding: 0.5em;
}

.topbar a{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}

.topbar a:hover{
    color: #c7ccd1;
    transition: 0.4s;
}

.topbar-img img{
    height: 40px;
}

.nav{
    background-color: #01437b;
    padding: 1em;
}

.nav > .list {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    /* display: block; */
}

.nav > .list > .nav-link {
    list-style-type: none;
}
.nav > .list > .nav-link a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.nav > .list > .nav-link a:hover{
    color: #ffa600;
    transition: 0.2s;
    
}

.header-wrapper{
    display: flex;
    height: 250px;
    background-color: #1a4e87;
    justify-content: space-around;
    align-items: baseline;
}

main{
    background-color: #1a4e87;
    padding: 2em;
}

.header-title{
    display: flex;
    justify-content: space-between;
}

.header-text {
    margin-left: 1em;
    max-width: 300px;
}

.header-logo-img{
    height: 120px;
}

.information{
    /* border: 1px solid black; */
    padding: 1em;
    width: 50%;
}

.information h5{
    text-align: center;
    padding: 1em 5em;
    background-color: rgba(10,131,214,.64);
    border-radius: 4px;
}

.information .ticker{
    background: #fff;
    color: #276cc3;
    padding: 0.5em;
    margin: 1em auto;
    text-shadow: #000000 0px 1px 1px;
}

.wrapper-marque{
    display: flex;
    justify-content: space-between;
}

/* О Нас */
.about{
    background-color: #e3e3e3;
    color: black;
    padding: 2em;
}

.thesis {
    width: max-content;
    font-weight: bold;
    color: black;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 5px solid #e84600;
    margin: 1em 0;
}

.gallery{
    display: flex;
    justify-content: space-around;
    justify-items: stretch;
    height: 300px;
    margin: 1em 0;
    overflow: hidden;
}

.gallery > img{
    padding: 0 1em;
    overflow: hidden;
    object-fit: contain;

}

.about-us{
    display: flex;
    justify-content: space-between;
    border-radius: 1px;
    /* margin: 2em; */
}

.about-us > div{
    border: 3px solid #e84600;
    padding: 1em;
}

.about-us > div > p {
    font-size: 17px;
    color: rgb(66, 66, 66);
    font-weight: bold;
}

.study-main{
    background-color: #fff;
}

.card-container{
    width: 320px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    color: #023665;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    /* transition: 0.4s; */
}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

.image-container img{
    overflow: hidden;
    height: 300px;
}

.card-title{
    margin: 1rem 0;
}

.btn{
    display: flex;
    justify-content:center;
}

.btn button{
    padding: 0.5rem;
    background-color: #01437b;
    border: 1px solid black;
    border-radius: 4px;
    transition: 0.5s;
    margin-bottom: 0.5rem;
}

.btn button:hover{
    background-color: #ff5724;
}

.btn button a{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.btn button a:hover{
    color: #fff;
    cursor: pointer;
}


.programs{
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(129, 129, 129); */
    padding: 5rem;
    border-bottom: 15px solid #01437b;
}


/* Галерея */
.container{
    padding: 1em;
    background-color: rgba(0, 80, 171, 0.96);
}

.slider{
    width: 768px;
    height: 576px;
    /* border: 2px solid black; */
    margin: 0 auto;
    overflow: hidden;
}

.slider > h2{
    display: flex;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    margin: 0.5em auto;
    letter-spacing: 5px;
}

.slider-line{
    height: 384px;
    width: 2048px;
    /* background-color: olivedrab; */
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em auto;
}

.slider-button > button {
    outline: none;
    border: none;
    background-color: white;
    color: black;
    /* padding: 1em; */
    transition: 0.5s;
    text-transform: uppercase;
    padding: 1em 2em;
    border-radius: 20px;
}

.slider-button > button:hover{
    background-color: #276cc3;
    transition: 0.5s;   
    color: #fff;
}

.contacts{
    background-color: #fff;
    color: #023665;
    padding: 2em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.communication > div{
    margin: 20% 0;
    border-bottom: 4px solid  rgb(255, 239, 9);
}

.map h2{
    text-align: center;
}

.footer{
    background-color: #01437B;
    padding: 3em 7em;
    font-size: 14px;
    height: 100%;
    max-height: 40%;
    color:#fff;
    display: flex;
    justify-content: space-between;
}

.footer-info > div {
    margin-bottom: 1em;
}

.footer-phone > div{
    font-size: 17px;
    color: #b1c6d7;
}


.footer-list{
    list-style-type: none;
}

.footer-link{
    margin: 1em 0;
}

.footer-link a{
    text-decoration: none;
    color: #b1c6d7;
    font-size: 16px;
    transition: 0.5s;
}
.footer-link a:hover{
    color: #fff;
}

.links{
    list-style-type: none;
}
.link{
    margin: 1em 0;
}

.links a{
    margin: 1em 0;
    text-decoration: none;
    color: #b1c6d7;
    font-size: 16px;
    transition: 0.5s;
}

.login{
    display: flex;
    justify-content: center;
}

.login-container {
    background-color: #01437b;
    text-transform: uppercase;
    width: 350px;
    border-radius: 8px;
    /* text-align: center; */
    padding: 1em;
    height: 450px;
    margin: 10% auto;
}

.login-container h2 {
    text-align: center;
    /* border-bottom: 5px solid #ff5724; */
}

.login-form{
    margin-top: 2em;
}

.login-form input{
    padding: 0.5em;
    width: 100%;
    outline: none;
    font-size: 17px;
}

.form {
    margin-top: 1em;
    border-bottom: 5px solid #ff5724;
}

.remember-me{
    margin-top: 2em;
    display: flex;
    align-items: center;
    text-transform: none;
}

.button-form{
    text-align: center;
    margin-top: 6em;
}

.button-form button{
    background-color: white;
    border: 1px solid black;
    padding: 0.5em 1em;
    font-size: 16px;
    border-bottom: 4px solid #ff5724; 
}
